@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Þjóðskrá Íslands<br />
    Borgartúni 21<br />
    105 Reykjavík<br />
    <abbr title="Sími">Sími:</abbr>
    515-5300
</address>

<address>
    <strong>Aðstoð:</strong>   <a href="mailto:island@island.is">island@island.is</a><br />    
</address>