@{
    ViewBag.Title = "Innskraning demo";
}

<div class="jumbotron">
    <h1>Íslyklar demo</h1>
    <p class="lead">This is a demo project for using login via innskraning.island.is.</p>
    <p><a href='@Url.Action("Login")' class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Innskraning.island.is</h2>
        <p>
            Innskraning.island.is is a login service provided by Registers Iceland
        </p>
        <p><a class="btn btn-default" href="https://www.island.is/innskraningarthjonusta">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Island.is</h2>
        <p>Island.is is a portal by Register Iceland.</p>
        <p><a class="btn btn-default" href="https://www.island.is/">Learn more &raquo;</a></p>
    </div>    
</div>